<tr class="program-list" id="program-list-<%= want.id %>">
  <td class="priority-td">
    <%= want.priority.name %>
  </td>

  <td class="program-td">
    <p class="program-content"><%= want.program %></p>
  </td>

  <td>
    <%= link_to  "編集",  edit_group_plan_want_path(@group, @plan, want), class: "link", data: {remote: true} %>
  </td>

  <td>
    <%= link_to "削除", group_plan_want_path(@group, @plan, want), class: "link", method: :delete, data: {remote: true} %>
  </td>
</tr>