<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>
<%= @group.name %>
<h1>スケジュール作成</h1>

<h2>何日目のスケジュールを確認/編集しますか？</h2>
<% if days.present %>
  <% @days.each do |day| %>
    <%= link_to "#{day.day}日目", schedules_path(day.id) %>
  <% end %>
  <%= link_to "上記以外の日程のスケジュール作成はこちら", schedules_path %>
<% else %>
  <p>作成済みのスケジュールがありません</p> 
  <%= link_to "スケジュールを作成する", schedules_path %>
<% end %>