<%= render partial: "memory_header", locals: {user: @user, group: @group, memory: @memory} %>

    <div class="diary-lists">
      <div class="make-diary-link diary-list">
        <%= link_to "日を追加", new_group_memory_diary_path(@group, @memory), class: "link diary-make-day" %>
      </div>

      <% if @diaries.present? %>
        <% @diaries.each do |diary| %>
          <div class="diary-day dairy-list">
            <%= link_to group_memory_diary_path(@group, @memory, diary.id), class: "link diary-day-link" do %>
              <%= diary.specific %>日目: <%= diary.title %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
