<%= render partial: "memory_header", locals: {user: @user, group: @group, memory: @memory} %>
    <div class="diary-show-content">
      <div class="diary-show-when">
        <h2><%= @diary.specific %>日目</h2>
      </div>

      <div class="diary-show-box">
        <div class="diary-show-title">
          <h3><%= @diary.title %></h3>
        </div>


      <div class="diary_show_content diary-content">  
        <%= simple_format(@diary.content) %>
      </div>
      
      <div class="dairy-show-options"> 
        <div class="dairy-option"> 
          <%= link_to "編集", edit_group_memory_diary_path(@group, @memory, @diary), class: "link" %> 
        </div>
        <div class="dairy-option"> 
          <%= link_to "削除", group_memory_diary_path(@group, @memory, @diary), class: "link", method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>