<h1>グループ作成</h1>
<div class="making-group">
  <%= form_with model:@group, local:true do |f| %>
    <div class="group-name-box group-form">
      <div class="group-label-form group-form">
        <%= f.label :name, "グループ名:" ,class:"group-label" %>
      </div>
      <div class="group-name-form group-form">
        <%= f.text_field :name, class:"group-input-text", id: "group-name", placeholder: "グループ名(必須 40字まで)" %>
      </div>
    </div>

    <div class="group-member-label" id="decide-member">
      <div class="member-label-form group-form">
        <%= f.label :members, "メンバーを入力してください:", class:"member-label" %>
      </div>
      <div class="member-nickname-form group-form">
        <ul class="group-form" id="add-member-list">
          <li class="member-box-list">
            <%= f.text_field :members, name:'group[members][]', class:"member-input-text", placeholder:"メンバーのユーザー名を入力してください" %>
            <input type="button" value="削除" class="delete-btn">
          </li>
        </ul>
        <input name="group[members][]" type="hidden" value=<%= current_user.nickname %> >
      </div>
    </div>
      <div class="group-form" id="add-member-box">
        <input type="button" value="メンバーを追加" id="add-member">
        <div id="member-max">これ以上追加できません</div>
      </div>
    <%= f.submit "作成", class: "make-btn" %>
  <% end %>
</div>