<%# header %>
<div class="main-header">
  <div class="header-content">
    <%= link_to "グループ一覧", groups_path, local:true %>
  </div>
</div>
<%# /header %>

<h1>グループ作成</h1>
<div class="making-group">
  <%= form_with model:@group, local:true do |f| %>
    <%# グループ名を作成 %>
    <div class="group-name-box group-form">
      <div class="group-label-form group-form">
        <%= f.label :name, "グループ名:" ,class:"group-label" %>
      </div>
      <div class="group-name-form group-form">
        <%= f.text_field :name, class:"group-input-text", id: "group-name", placeholder: "グループ名(必須 40字まで)" %>
      </div>
    </div>
    <%# メンバーを選択 %>
    <div class="group-member-label" id="decide-member">
      <div class="member-label-form group-form">
        <%= f.label :members, "メンバーを入力してください:", class:"member-label" %>
      </div>
      <div class="member-user_ID-form group-form">
        <ul class="group-form" id="add-member-list">
          <li class="member-box-list" data-num="1">
            <%= f.text_field :user_ids, name:'group[user_ids][]', class:"member-input-text", placeholder:"メンバーのユーザー名を入力してください",  data:{num:1}%>
            <input type="button" value="削除" class="delete-btn" data-num="1">
          </li>
        </ul>
        <input name="group[user_ids][]" type="hidden" value=<%= current_user.user_ID %> > <%# 自分の情報も送付 %>
      </div>
    </div>
     <div class="group-form" id="add-member-box">
        <input type="button" value="メンバーを追加" id="add-member">
        <div id="member-max">これ以上追加できません</div>
      </div>
    <%= f.submit "作成", class: "make-btn" %>
  <% end %>
</div>