<h1><%= @group.name %></h1>
<%= link_to "グループを削除", group_path(@group), method: :delete %>
<div class="show-members">
<h2 class="text-member">メンバー</h2>
<ul class="members-list">
<% @group.users.each do |user| %>
  <li class="members">
    <%= user.nickname %>
  </li>
<% end %>
</ul>
<ul class="contents-list">
  <li class="contents">
    <%= link_to "行先候補を作成", new_candidate_path, local: true %>
  </li>
  <li class="contents">
    <%= link_to "行先候補一覧", candidates_path, local: true %>
  </li>
  <li class="contents">
    <%= link_to "旅行計画作成",  new_plan_path, local: true %>
  </li>
  <li class="contents">
    <%= link_to "旅行計画一覧",  plans_path, local: true %>
  </li>
</ul>