<div class="back-to-user-link">
  <%= link_to "戻る", user_path(@user), class: "back-to-user" %>
</div>

<div class="user-plans-lists">
  <dl class="user-plans-list">
    <% @user.groups.each do |group| %>
      <div class="group-plans">
        <h2><%= group.name %></h2>
        <% if group.plans.present? %>
          <% group.plans.each do |plan| %>
            <div class="plan-box">
              <%# 旅行のタイトル %>
              <div class="user-plan-title">
                <h2><%= link_to "#{plan.title}" , group_plan_path(group, plan)%></h2>
              </div>
              <%# /旅行のタイトル %>

              <%# 行先 %>
              <dt class="desination-guide">
                行先
              </dt>
              <dd class="user-plan-destination">
                <%= plan.destination %>
              </dd>
              
              <%# /行先 %>

              <div class="user-plan-depature">
                <dt class="user-plan-depature-guide">
                  出発日：
                </dt>
                <dd class="user-depature-day">
                  <%= plan.departure_day %>
                </dd>
                <dt class="user-plan-return-guide">
                  出発日：
                </dt>
                <dd class="user-return-day">
                  <%= plan.return_day %>
                </dd>
              </div>
            </div>
          <% end %>
        <% else %>
          旅行計画はありません
        <% end %>
      </div>
    <% end %>
  </ul>
</div>