
<%= form_with model: schedule, id:"schedule-form"  do |f| %>

  <%# エラー表示 %>
  <%= render partial: 'shared/error_messages', locals: { model: schedule } %>
  <%# /エラー表示%>

  <%# 隠し情報を送る %>
  <div class="hidden">
    <%= f.text_field :day_how_id, value: day_how, class: "how-day "%>
    <%= f.text_field :plan_id, value: plan_id, class: "plan-id hidden"%>
  </div>
  <%# /隠し情報を送る %>

  <div class="schedule-form-box hidden-form">
    <div class="shcedule-from-guide">
      時間
    </div>
    <div class="time-box">
      <%= f.collection_select(:hour_id, Hour.all, :id, :name, {include_blank:"---"},{class: "hour_form", id:"hour"} )%>
      :
      <%= f.collection_select(:minute_id, Minute.all, :id, :name, {include_blank:"---"},{class: "minute_form", id:"minute"} )%>
    </div>
  </div>

  <div class="schedule-form-box">
    <div class="schedule-from-guide">
      カテゴリー
    </div>
    <div class="category-box">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank:"---"},{class: "category_form", id:"category"} )%>
    </div>
  </div>

  <div class="schedule-form-box">
    <div class="schedule-from-guide">
    予定
    </div>
    <div class="program-box">
      <%= f.text_area :program, class: "program_form", id:"program" %>
    </div>
  </div>

  <div class="schedule-make-schedule">
    <%= f.submit value, class:"schedule-submit", id: "submit" %>
  </div>

  <div class="back-new"> 
    <% if value == "更新" %>
      <%= link_to new_schedule_path(id: schedule.id), class: "link", data: { remote: true } do %>
        <input type="button" class="back-botton" value="取消">
      <% end %>
    <% end %>
  </div>
<% end %>