<% if schedule.id.present? %>
  <tr class="table-list" id="table-list-<%= schedule.id %>">
    <% if schedule.minute.present? %>
      <td class="schedule-list time-list">
        <%= schedule.hour.name %>:<%= schedule.minute.name %>
      </td>
    <% end %>

    <% if schedule.present? %>
      <td class="schedule-list category-list">
        <%= render partial: 'case' ,locals: {schedule: schedule} %>
      </td>
    <% end %>

    <% if schedule.present? %>
      <td class="schedule-list program-list">
        <%= schedule.program %>
      </td>
    <% end %>

    <% if schedule.id.present? %>
      <td class="update">
        <%= link_to '編集', edit_schedule_path(schedule),class: "link",  data: { remote: true } %>
      </td>
    <% end %>
    
    <% if schedule.id.present? %>
      <td class="delete">
        <%= link_to '削除',schedule_path(schedule), 
                    class: "link", 
                    method: :delete,
                    data: { remote: true } %>
      </td>
    <% end %>
  </tr>
<% end %>