<h1> スケジュール作成 </h1>
<%= link_to "旅行計画に戻る", group_plan_path(@plan, @group), local: true %>
<div class="trip-date">
  <div class="departure-date">
    出発日:<%= @plan.departure_day %> 
  </div>
  <div class="return-date">
    帰着予定日:<%= @plan.return_day %>
  </div>
</div>
  <div class="day-display">
    <h2> <%= @passed %>日目のスケジュール </h2>
  </div>
<%# ↑以外の日のスケジュール %>
<div class="other-days">
  <ul class="other-days-list">
    <% @other_days.each do |other| %>
      <li class="day-list">
        <%= link_to schedules_path(day_how_passed: other.passed, plan_id: @plan.id),  local: true do %>
          <%= other.passed %>日目
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to  "その他の日程を作成する", new_day_how_path(plan_id: @plan_id), local: true %>
    </li>
  </ul>
</div>
<%# /↑以外の日のスケジュール %>
<div class="day-schedule-large-box">
  <%# ajaxのform %>
  <div id="schedule-form">
    <%= render partial: "form", locals:{plan_id: @plan_id, schedule: Schedule.new, value: "作成" , day: @passed} %>
  </div>
  <%# /ajaxのform %>
  <%# schedule表%>
  <table id="day-table" border="1">
    <tbody id="tbody">
      <tr>
        <th>時間</th>
        <th>カテゴリー</th>
        <th>予定</th>
      </tr>
      <%# /ajaxでのスケジュール登録%>
        <%= render @schedules %>
      <%# /ajaxでのスケジュール登録%>
    </tbody>
  </table>
  <%# /schedule表%>
<%# ajaxのform %>
</div>