<h1> スケジュール作成 <h1>
<%= link_to "旅行計画に戻る", group_plans_path(@plan, @group), local: true %>
<div class="day-display">
  <h2> <%= @passed %>日目のスケジュール </h2>
</div>
<div class="other-days">
  <ul class="other-days-list">
    <li class="day-list">
      <% @other_days.each do |other| %>
        <%= other.passed %>日目
      <% end %>
    </li>
  </ul>
</div>
<div class="day-schedule-large-box">

  <div id="schedule-form">
    <%= render partial: "form", locals:{plan: @plan} %>
  </div>

  <table id="day-table" border="1">
    <tbody id="tbody">
      <tr>
        <th>時間</th>
        <th>カテゴリー</th>
        <th>予定</th>
      </tr>
      <%# if @day_how.schedule %>
        <%# @day_how.schedules.each do |schedule|%>
          <%#<tr class="exist-tr">
            <td class="time-td"><%= schedule.hour.name %><%#= schedule.minute.name %><%#> </td>
            <td class="category-td"><%= schedule.category.name %><%#</td>
            <td class="program-td"><%= schedule.program %><%#<th>
          </tr>
        <% end %>
      <%# end %>
      <% @schedules.each do |schedule| %>
        <%= render schedule %>
      <% end %>
    </tbody>
  </table>
</div>