<%= form_with(model:[@group, @plan, @dictionary], id: "dictionary-form" ) do |f| %>

  <%# エラー表示 %>
  <%= render partial: 'shared/error_messages', locals: { model: @dictionary } %>
  <%# /エラー表示%>

  <div class="form-dictionary">
    <div class="form-guide">
      言語
    </div>
    <div class="form-box">
      <%= f.text_field :language, class:"language-form fill", id:"language-form" %>
    </div>
  </div>

  <div class="form-dictionary">
    <div class="form-guide">
      日本語
    </div>
    <div class="form-box">
      <%= f.text_area :japanese, class:"japanese-form fill", id: "japanese-form" %>
    </div>
  </div>
  
  <div class="form-dictionary">
    <div class="form-guide">
      外国語
    </div>
    <div class="form-box">
      <%= f.text_area :translation, class:"translation-form fill", id: "translation-form" %>
    </div>
  </div>

  <div class="form-box">
    <%= f.submit value %>
  </div>

  <% if value == "更新" %>
    <%= link_to new_group_plan_dictionary_path(@group, @plan, id: @dictionary.id), class: "link", data: {remote: true} do %>
      <input type="button" class="back-botton" value="取り消し">
    <% end %>
  <% end %>
<% end %>