<%= form_with(model:[@group, @plan, @dictionary], id: "dictionary-form" ) do |f| %>
  <div class="form-dictionary">
    <div class="form-guide">
      言語
    </div>
    <div class="form-box">
      <%= f.text_field :language, class:"language-form fill", id:"language-form" %>
    </div>
  </div>

  <div class="form-dictionary">
    <div class="form-guide">
      日本語
    </div>
    <div class="form-box">
      <%= f.text_area :japanese, class:"japanese-form fill", id: "japanese-form" %>
    </div>
  </div>
  
  <div class="form-dictionary">
    <div class="form-guide">
      外国語
    </div>
    <div class="form-box">
      <%= f.text_area :translation, class:"translation-form fill", id: "translation-form" %>
    </div>
  </div>

  <div class="form-box">
    <%= f.submit "登録" %>
  </div>

<% end %>