<%# header %>
<div class="main-header">
  <div class="header-content">
    <%= link_to "#{@group.name}", group_path(@group), local: true%>  <%# グループ詳細 %>
  </div>
  <div class="header-content">
    <% if @candidates.present? %> 
      <%= link_to "候補詳細", group_candidate_path(@group, @candidate), local: true%> 
    <% end %>
  </div>
  <div class="header-content">
    <% if @plans.present? %> 
      <%= link_to "計画一覧", group_plans_path(@group, @plan), local: true%> 
    <% end %>
  </div>
  <div class="header-content">
    <% if @memories.present? %>
      <%= link_to "思い出一覧", group_memories_path(@group, @memoryn), local: true%> 
    <% end %>
  </div>
</div>
<%# /header %>

<h1>編集画面</h1>
<%= form_with model:[@candidate, @group], url: group_candidate_path(@group,@candidate), method: :patch, local: true do |f| %>
  <%# 予算フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      予算 (必須)
    </div>
    <%= f.collection_select(:budget_id, Budget.all, :id, :name, {include_blank:"---"}, {class:"budget-form"}) %>
  </div>
  <%# 泊数フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      日数
    </div>
    <%= f.text_field :night, class: "night-form", placeholder: "２泊3日", value:@candidate.night %>
  </div>
  <%# 行先フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      行先 (必須)
    </div>
    <%= f.text_field :destination, class: "candidate-form", palceholder: "行きたい場所をご記入してください" , value: @candidate.destination %>
  </div>
  <%# 理由フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      理由・目的
    </div>
    <%= f.text_area :reason, class:"reason-form", placeholder:"行きたい理由、目的、スポットなど400文字以内でご自由にご記入してください", value: @candidate.reason %>
  </div>
  <%# 交通手段フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      交通手段
    </div>
    <%= f.collection_select(:transportation_id, Transportation.all, :id, :name, {include_blank:"---"}, {class:"transportation-form"}) %>
  </div>
  <%# 交通時間フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      移動時間の概算 (片道)
    </div>
    <%= f.text_field :take_time, class:"take-time-form", placeholder:"数字を記入", value: @candidate.take_time %>時間
  </div>
  <%# 交通費フォーム %>
  <div class="candidate-form">
    <div class="form_guide">
      交通費の概算 (往復)
    </div>
    <%= f.text_field :trans_cost ,class:"torans-cost-form", placeholder:"往復の交通費の概算", value: @candidate.trans_cost %>円
  </div>
  <div class="candidate-form">
    <div class="form_guide">
      参考写真(1枚)
    </div>
    <%= f.file_field :image ,class:"image-form",id:"image-form", placeholder:"往復の交通費の概算", value: @candidate.image %>
    <div class="image-preview" id="image-preview">
    </div>
  </div>
  <div class="candidate-form">
    <%= f.submit "作成", class: "make-btn" %>
  </div>
<% end %>