<h1>行先候補一覧</h1>
<% @candidates.each do |candidate| %>
  <div class="index-large-box">
    <div class="candidate-box">
      <div class="budget-index">
        予算：<%= candidate.budget.name %>
      </div>
      <div class="night-index">
        日数：<%= candidate.night %>
      </div>
      <div class="destination-index">
        行先：<%= candidate.destination %>
      </div>
      <div calss="transportation-index">
        交通手段：<%= candidate.transportation.name %>
        <div class="trans-time-box">
          移動時間：<%= candidate.take_time %>時間
        </div>
        <div class="trans-cost-box">
          交通費(往復の概算)： <%= candidate.trans_cost %>円
        </div>
      </div>
      <div class="reason-index">
        理由/目的
        <div> <%= candidate.reason %> </div>
      </div>
    </div>
    <div class="index-footer">
      <div class="good-btn">
        行きたい！!
      <div>
      <div class="decide-btn">
        決定
      <div>
    </div>
  </div>
<% end %>