<%# 行先候補がある場合は表示 %>
<% if @candidates.present? %>
  <h1>行先候補一覧</h1>
  <h1><%= link_to "#{@group.name}", group_path(@group), local: true  %> </h1>  <%# グループ名表示 %>
 <%= link_to "行先候補を作成", new_group_candidate_path(@group, @candidate), local: true %>
  <% @candidates.each do |candidate| %>
    <div class="index-outside">
      候補<%= @count %>
      <div class="index-large-box">
        <div class="candidate-header">
          <%= link_to "編集", edit_group_candidate_path(@group, candidate), local: true %> / <%= link_to "削除", group_candidate_path(@group, candidate), method: :delete, local: true %> 
        </div>
        <div class="candidate-box">
          <div class="budget-index candidate-guide">
            予算：<%= candidate.budget.name %>
          </div>
          <div class="night-index candidate-guide">
            日数：<%= candidate.night %>
          </div>
          <div class="destination-index candidate-guide">
            行先：<%= candidate.destination %>
          </div>
          <div calss="transportation-index candidate-guide">
            <% if candidate.transportation %>
              交通手段：<%= candidate.transportation.name %>
            <% else %>
              交通手段：
            <% end %>
            <div class="trans-time-box candidate-guide">
              移動時間：<%= candidate.take_time %>時間
            </div>
            <div class="trans-cost-box candidate-guide">
              交通費(往復の概算)： <%= candidate.trans_cost %>円
            </div>
          </div>
          <div class="reason-index candidate-guide">
            理由/目的：
            <div> <%= candidate.reason %> </div>
          </div>
          <div class="reference-image-box">
            <div class="reference-image candidate-guide">
              参考写真：
            </div>
            <%= image_tag candidate.image.variant(resize:'500x500'), class:"candidate-image" if candidate.image.attached?%>
          </div>
        </div>
        <div class="index-footer">
          <div class="good-btn">
              <%#= link_to "行きたい！!", goods_path, method: :post, local: true, class: "good-btn" %>&nbsp;<%= @goods %>人
          </div> 
          <div class="decide-btn">
            <%= link_to "決定！！", new_group_plan_path(@group, @plan), local: true %>
          </div>
        </div>
        <div class="created_date">
          <%= candidate.created_at %>
        </div>
      </div>
    </div>
    <% @count+=1 %>  <%# 候補数の数字 %>
  <% end %>
<% else %>
<%# 行先候補がない場合は作成画面のリンクを表示 %>
  <p>行先候補がありません</p>
  <%= link_to  new_group_candidate_path(@group, @candidate), local: true do %>
    <h1> 行先候補を作成する </h1>
  <% end %>
<% end %>