<%# header %>
<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>
<%# /header %>

<%# 行先候補がある場合は表示 %>
<div class="candidate-large-box">
  <div class="candidate-index-box">
    <% if @candidates.present? %>
      
      <div class="candidate-index-title">
        <h1>行先候補一覧</h1>
      </div>

    <div class="back-page">
      <%= link_to "#{@group.name}", group_path(@group), class: "link back-link" %>
    </div>

      <% @candidates.each do |candidate| %>
        <% unless candidate.plan.present? %>
            <div class="index-outside">
              <p class="candidate-p">候補<%= @count %></p>
              <div class="candidate-index-content">
                <div class="index-large-box">
                  <div class="candidate-box">
                    <div class="destination-index candidate-guide">
                      提案者：<%= candidate.user.user_ID %>
                    </div>
                    <div class="destination-index candidate-guide">
                      行先：<%= candidate.destination %>
                    </div>
                    <div class="budget-index candidate-guide">
                      予算：<%= candidate.budget.name %>
                    </div>
                    <div class="night-index candidate-guide">
                      日数：<%= candidate.night %>
                    </div>
                    <div class="reference-image-box">
                      <div class="reference-image candidate-guide">
                        参考写真：
                      </div>
                      <%= image_tag candidate.image.variant(resize:'500x500'), class:"candidate-image" if candidate.image.attached?%>
                    </div>
                  </div>

                  <div class="candidate-index-footer">
                    <div class="favorite index-footer-content">
                      いいね<%= candidate.favorites.count %>
                    </div>
                    <div class="candidate-show-link index-footer-content">
                      <%= link_to "詳細", group_candidate_path(@group, candidate), class: "link" %>
                    </div>
                    <div class="decide-btn index-footer-content">
                      <%= link_to "決定！！", new_group_plan_path(@group,@plan, candidate_id: candidate.id),class: "link" %>
                    </div>
                  </div>
                  <div class="created_date">
                    <%= candidate.created_at %>
                  </div>
                </div>
              </div>
            <% @count+=1 %>  <%# 候補数の数字 %>
            </div>
        <% end %>
      <% end %>
    <% else %>
    <%# 行先候補がない場合は作成画面のリンクを表示 %>
      <p>行先候補がありません</p>
      <%= link_to  new_group_candidate_path(@group, @candidate), class: "link" do %>
        <h1> 行先候補を作成する </h1>
      <% end %>
    <% end %>
  </div>
</div>