<%# header %>
<div class="main-header">
  <div class="header-content">
    <%= link_to "#{@group.name}", group_path(@group), local: true%>  <%# グループ詳細 %>
  </div>
  <div class="header-content">
    <% if @candidates.present? %> 
      <%= link_to "候補を作成", new_group_candidate_path(@group, @candidate), local: true %>
    <% end %>
  </div>
  <div class="header-content">
    <% if @plans.present? %> 
      <%= link_to "計画一覧", group_plans_path(@group, @plan), local: true%> 
    <% end %>
  </div>
  <div class="header-content">
    <% if @memories.present? %>
      <%= link_to "思い出一覧", group_memories_path(@group, @memoryn), local: true%> 
    <% end %>
  </div>
</div>
<%# /header %>

<%# 行先候補がある場合は表示 %>
<% if @candidates.present? %>
  <h1>行先候補一覧</h1>

  <% @candidates.each do |candidate| %>
    <div class="index-outside">
      候補<%= @count %>
      <div class="index-large-box">
        <div class="candidate-box">
          <div class="candidate-show">
            <%= link_to "詳細", group_candidate_path(@group, candidate), local: true %>
          </div>
          <div class="destination-index candidate-guide">
            行先：<%= candidate.destination %>
          </div>
          <div class="budget-index candidate-guide">
            予算：<%= candidate.budget.name %>
          </div>
          <div class="night-index candidate-guide">
            日数：<%= candidate.night %>
          </div>
          <div class="reference-image-box">
            <div class="reference-image candidate-guide">
              参考写真：
            </div>
            <%= image_tag candidate.image.variant(resize:'500x500'), class:"candidate-image" if candidate.image.attached?%>
          </div>
        </div>

        <div class="index-footer">

          <div class="good-btn" id="good-btn-<%= candidate.id%>">
            <% if current_user.already_good?(candidate) %> 
              <%# いいね押してたら取り消しボタンを表示 %>
              <%= button_to "行きたいボタン取り消し", group_candidate_good_path(@group, candidate, candidate.goods), method: :delete, class:"good-btn reset-good", id:"reset-good-#{candidate.id}", data:{num: candidate.id}, data:{group: @group.id} %>
              <%= button_to "行きたい！！", group_candidate_goods_path(@group, candidate, @good), method: :post, class:"hidden-set-good good-btn", id:"hidden-set-good-#{candidate.id}", data:{num: candidate.id}, data:{group: @group.id} %>
            <% else %>
              <%# 押してなかったら行きたい！btnを表示 %>
              <%= button_to "行きたいボタン取り消し", group_candidate_good_path(@group, candidate, candidate.goods), method: :delete, class:"hidden-reset-good good-btn", id:"hidden-reset-good-#{candidate.id}", data:{num: candidate.id}, data:{group: @group.id} %>  
              <%= button_to "行きたい！！", group_candidate_goods_path(@group, candidate, @good), method: :post, class:"set-good good-btn", id:"set-good-#{candidate.id}", data:{num:candidate.id}, data:{group: @group.id}%>
            <% end %>
            <div class="good-count" ><%= candidate.goods.count %>人</div>
          </div>
           
          <div class="decide-btn">
            <%= link_to "決定！！", new_group_plan_path(@group,@plan, candidate_id: candidate.id), local: true %>
          </div>
        </div>
        <div class="created_date">
          <%= candidate.created_at %>
        </div>
      </div>
    </div>
    <% @count+=1 %>  <%# 候補数の数字 %>
  <% end %>
<% else %>
<%# 行先候補がない場合は作成画面のリンクを表示 %>
  <p>行先候補がありません</p>
  <%= link_to  new_group_candidate_path(@group, @candidate), local: true do %>
    <h1> 行先候補を作成する </h1>
  <% end %>
<% end %>