<%# header %>
 <div class="main-header">
    <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>
<%# /header %>

<div class="candidate-show">
  <div class="-candidate-show-box">
    <div class="candidate-header">
      <%= link_to "編集", edit_group_candidate_path(@group, @candidate) %> / <%= link_to "削除", group_candidate_path(@group, @candidate), method: :delete %> 
    </div>
    <div class="candidate-box">
      <div class="budget-index candidate-guide">
        予算：<%= @candidate.budget.name %>
      </div>
      <div class="night-index candidate-guide">
        日数：<%= @candidate.night %>
      </div>
      <div class="destination-index candidate-guide">
        行先：<%= @candidate.destination %>
      </div>
      <div calss="transportation-index candidate-guide">
        <% if @candidate.transportation %>
          交通手段：<%= @candidate.transportation.name %>
        <% else %>
          交通手段：
        <% end %>
        <div class="trans-time-box candidate-guide">
          移動時間：<%= @candidate.take_time %>時間
        </div>
        <div class="trans-cost-box candidate-guide">
          交通費(往復の概算)： <%= @candidate.trans_cost %>円
        </div>
      </div>
      <div class="reason-index candidate-guide">
        理由/目的：
        <div> <%= @candidate.reason %> </div>
      </div>
      <div class="reference-image-box">
        <div class="reference-image candidate-guide">
          参考写真：
        </div>
        <%= image_tag @candidate.image.variant(resize:'500x500'), class:"candidate-image" if @candidate.image.attached?%>
      </div>
    </div>

    <div class="index-footer">
      <div class="favorite">
        <% if @candidate.favorite_by?(current_user) %>
          <p> 
            <%= link_to "いいね解除", group_candidate_favorite_path(@group, @candidate), method: :delete %> 
            <%= @candidate.favorites.count %>
          </p>
        <% else %>
          <p>
            <%= link_to "いいね", group_candidate_favorites_path(@group, @candidate), method: :post %>
            <%= @candidate.favorites.count %>
          </p>
        <% end %>
     </div>
        
      <div class="decide-btn">
        <%= link_to "決定！！", new_group_plan_path(@group,@plan, candidate_id: @candidate.id) %>
      </div>
    </div>
    <div class="created_date">
      <%= @candidate.created_at %>
    </div>
  </div>
</div>