<%# header %>
 <div class="main-header">
    <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>
<%# /header %>

<div class="candidate-show">
  <div class="-candidate-show-box">
    <div class="candidate-header">
      <%= link_to "編集", edit_group_candidate_path(@group, @candidate), local: true %> / <%= link_to "削除", group_candidate_path(@group, @candidate), method: :delete, local: true %> 
    </div>
    <div class="candidate-box">
      <div class="budget-index candidate-guide">
        予算：<%= @candidate.budget.name %>
      </div>
      <div class="night-index candidate-guide">
        日数：<%= @candidate.night %>
      </div>
      <div class="destination-index candidate-guide">
        行先：<%= @candidate.destination %>
      </div>
      <div calss="transportation-index candidate-guide">
        <% if @candidate.transportation %>
          交通手段：<%= @candidate.transportation.name %>
        <% else %>
          交通手段：
        <% end %>
        <div class="trans-time-box candidate-guide">
          移動時間：<%= @candidate.take_time %>時間
        </div>
        <div class="trans-cost-box candidate-guide">
          交通費(往復の概算)： <%= @candidate.trans_cost %>円
        </div>
      </div>
      <div class="reason-index candidate-guide">
        理由/目的：
        <div> <%= @candidate.reason %> </div>
      </div>
      <div class="reference-image-box">
        <div class="reference-image candidate-guide">
          参考写真：
        </div>
        <%= image_tag @candidate.image.variant(resize:'500x500'), class:"candidate-image" if @candidate.image.attached?%>
      </div>
    </div>

    <div class="index-footer">

      <div class="good-btn" id="good-btn-<%= @candidate.id%>">
        <% if current_user.already_good?(@candidate) %> 
          <%# いいね押してたら取り消しボタンを表示 %>
          <%= button_to "行きたいボタン取り消し", group_candidate_good_path(@group, @candidate, @candidate.goods), method: :delete, class:"good-btn reset-good", id:"reset-good-#{@candidate.id}", data:{num: @candidate.id}, data:{group: @group.id} %>
          <%= button_to "行きたい！！", group_candidate_goods_path(@group, @candidate, @good), method: :post, class:"hidden-set-good good-btn", id:"hidden-set-good-#{@candidate.id}", data:{num: @candidate.id}, data:{group: @group.id} %>
        <% else %>
          <%# 押してなかったら行きたい！btnを表示 %>
          <%= button_to "行きたいボタン取り消し", group_candidate_good_path(@group, @candidate, @candidate.goods), method: :delete, class:"hidden-reset-good good-btn", id:"hidden-reset-good-#{@candidate.id}", data:{num: @candidate.id}, data:{group: @group.id} %>  
          <%= button_to "行きたい！！", group_candidate_goods_path(@group, @candidate, @good), method: :post, class:"set-good good-btn", id:"set-good-#{@candidate.id}", data:{num:@candidate.id}, data:{group: @group.id}%>
        <% end %>
        <div class="good-count" ><%= @candidate.goods.count %>人</div>
      </div>
        
      <div class="decide-btn">
        <%= link_to "決定！！", new_group_plan_path(@group,@plan, candidate_id: @candidate.id), local: true %>
      </div>
    </div>
    <div class="created_date">
      <%= @candidate.created_at %>
    </div>
  </div>
</div>