<%= form_with(model: [@group, @plan, bring], id: "bring-form") do |f|%>

    <%# エラー表示 %>
    <%= render partial: 'shared/error_messages', locals: { model: bring } %>
    <%# /エラー表示%>

  <div class="add-thing" id="add-things">
    <%= f.text_field :thing, class:"thing-form", id: "thing-form",  placeholder: "追加したい持ち物を入力" %>
  </div>
  <div class="submit">
    <%= f.submit "#{value}" %>
  </div>

  <% if value == "更新" %>
    <%= link_to new_group_plan_bring_path(@group, @plan, id: bring.id), data: {remote: true}  do%>
      <input type="button" class="back-botton" value="取り消し">
    <% end %>
  <% end %>
<% end %>