<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>

<div class="back-to-group">
  <%= link_to "#{@group.name}", group_path(@group), class: "link" %>
</div>

<div class="memory-constents">
  <% if @memories.present? %>
    <% @memories.each do |memory| %>

      <%# タイトル %>
      <div class="memory-title"> 
        <%= link_to group_memory_path(@group, memory) , class: "link" do %> 
          <%= memory.title %>
        <% end %>
      </div>
      <%# /タイトル %>

      <%# 行先 %>
      <div class="memory-destination">
        行先：<%= memory.destination %>
      </div>
      <%# /行先 %>

      <%# 日程 %>
      <div class="memory-index date">
        <div class="memory-guide">
          日程：<%= memory.plan.departure_day %> ~ <%= memory.plan.return_day %>
        </div>
      </div>
      <%# /日程 %>
    <% end %>
  <% else %>
    思い出は登録されていません
  <% end %>
</div>