<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>

<div class="back-to-group">
  <%= link_to "#{@group.name}", group_path(@group) %>
</div>
<%# 編集・削除リンク %>
<div class="memory-edit">
  <%= link_to "編集", edit_group_memory_path(@group, @memory), local: true %> / <%= link_to "削除", group_memory_path(@group, @memory), local: true %> 
</div>
<%# /編集・削除リンク %>

<div class="memory-sho-box">
  <%# タイトル %>
  <div class="memory-box">
    <div class="memory-title-guide memory-guide">
      タイトル
    </div>
    <div class="memory-title, memory-content">
      <%= @memory.title %>
    </div>
  </div>
  <%# /タイトル %>

  <%# 日程 %>
  <div class=" memory-box">
    <div class="memory-date-guide memory-guide">
      日程：
    </div>
    <div class="memory-date">
      <div class="memory-departure memory-content">
        出発日:<%= @memory.departure_day %>
      </div>
      <div class="memory-return memory-content">
        帰着日:<%= @memory.return_day%>
      </div>
    </div>
  </div>
  <%# /日程 %>

  <%# 移動手段 %>
  <div class="memory-box">
    <div class="memory-transportation-guide memory-guide ">
      移動手段
    </div>  
    <div class="memory-transportation memory-content">
      <% if @memory.transportation %>
        <%= @memory.transportation.name %>
      <% end %>
    </div>
    <div class="memory-transportation-memo-guide memory-guide">
      memo
    </div>
    <div class="memory-transportation-memo memory-guide" >
      <%= @memory.trans_memo %> 
    </div>
  </div>
  <%# /移動手段 %>

  <%# ホテル %>
  <div class="memory-box">
    <div class="memory-hotel-guide memory-guide">
      ホテル名
    </div>
    <div class="memory-hotel memory-content">
      <%= @memory.hotel %>  
    </div>
    <div class="memory-hotel-memo-guide memory-guide">
      memo
    </div>
    <div class="memory-hotel_mwmo memo-content" >
      <%= @memory.hotel_memo %> 
    </div>
  </div>
  <%# /ホテル %>

  <%# 一番面白かったこと %>
  <div class="memory-box">
    <div class="memory-best-guide memoryguide">
      一番面白かったことは？
    </div>
    <div class="memory-best">
      <%= @memory.best %>
    </div>
  </div>
  <%# /一番面白かったこと %>

  <%# ハプニング %>
  <div class="memory-box">
    <div class="memory-happening-guide memory-guide">
      一番のハプニングは？
    </div>
    <div class="memory-happening">
      <%= @memory.happening %>
    </div>
  </div>
  <%# /ハプニング %>

  <%# またやりたいこと %>
  <div class="memory-box">
    <div class="memory-again-guide memory-guide">
      また行きたい場所/やりたいこと
    </div>
    <div class="memory-again">
      <%= @memory.again %>
    </div>
  </div>
  <%# /またやりたいこと %>

  <%# 思い出の写真 %>
  <%= render  partial: "memory_image", locals: {memory: @memory} %>
  <%# /思い出の写真 %>
</div>

