<div class="group-page">
  <%= link_to "#{@group.name}" , group_path(@group), local: true %>
</div>
<div class="candidate-header">
  <%= link_to "編集", edit_group_plan_path(@group, @plan), local: true %> / <%= link_to "削除", group_plan_path(@group, @plan), method: :delete, local: true %>
</div>

<div class="mova-to-shcedule">
  <%= link_to "スケジュールを作成/確認する", schedules_path(plan_id: @plan.id), local: true %>
</div>

<div class="to_dictionary">
  <%= link_to "単語帳", group_plan_dictionaries_path(@group, @plan), local: true %>
</div>

<div class="plan-content">
  <div class="plan-destination-guide plan-guide">
    行先
  </div>
  <div class="plan-destination plan-index">
    <%= @plan.destination %>
  </div>
</div>

<div class="plan-content">
  <div class="plan-date-guide plan-guide">
    日程
  </div>
  <div class="plan-departure-guide plan-index">
    出発日：<%= @plan.departure_day %>
  </div>
  <div class="plan-return-guide plan-index">
    帰着日：<%= @plan.return_day %>
  </div>
</div>

<div class="plan-content">
  <div class="transportaion-guide plan-guide">
    移動手段
  </div>
  <div class="plan-transportation plan-index">
    <% if @plan.transportation %>
      交通手段：<%= @plan.transportation.name %>
    <% else %>
      交通手段：
    <% end %>
  </div>
</div>
<div class="plan-content">
  <div class="start-guide plan-guide">
    出発地点
  </div>
  <div class="plan-start plan-index">
    <%= @plan.start_place %>
  </div>
</div>
<div class="plan-content">
  <div class="ticket-guide plan-guide">
    移動手段に関するメモ
  </div>
  <div class="plan-ticket plan-index">
    <%= @plan.ticket %>
  </div>
</div>

<div class="plan-content">
  <div class="hotel-guide plan-guide">
    ホテル名
  </div>
  <div class="plan-hotel plan-index">
    <%= @plan.hotel %>
  </div>
</div>

<div class="plan-content">
  <div class="hotel-memo-guide plan-guide">
    ホテルに関するメモ
  </div>
  <div class="plan-hotel-memo plan-index">
    <%= @plan.hotel_memo %>
  </div>
</div>

<div class="reference-image-box">
  <div class="reference-image candidate-guide">
    参考写真：
  </div>
  <% if @plan.candidate.present? %>
    <%= image_tag @plan.candidate.image.variant(resize:'500x500'), class:"candidate-image" if @plan.candidate.image.attached? %>
  <% end %>
</div>
<div class="back_page">
  <%= link_to "戻る", group_plans_path(@group, @plan), local: true %>
</div>